/* Don't change the existing CSS. */
.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  border: solid rgb(131, 1, 123);
  border-width: 10px;
}

p {
  color: yellow;
  margin: 0px;
  padding: 0px;
}

.inner-box {
  background-color: red;
}

.white-text {
  color: white;
}