body {
    background-color: black;
}
h1, p {
    color: white;
    text-align: center;
}
h1 {
    font-size: 40pt;
}
p {
    font-size: 20pt;
}
div > img {
    height: 500px;
    width: 900px;
    border: solid white;
    margin-left: 17%;
}