/* Write your code here: */
h1, h2{
    color: purple;
}

.box > .done {
    color: red;
}

ul > li {
    color: blue;
}

.list .done {
    color: green;
}

ul > p {
    font-size: 10pt;
}

body > p {
    font-weight: 900;
}